@import './fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background: #EBEBEB;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.nav {
    background: #322E41;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__list-link {
    padding: 22px;
    display: flex;
    color: #fff;
    font-size: 16px;
    transition: .5s;
}

.nav__list-link:hover {
    background: #fff;
    color: #D47300;
}

.poster {
    min-height: 500px;
    background: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.poster__title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.poster__subtitle {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.poster__subtitle span {
    font-weight: 700;
}

.products__main-card {
    padding: 16px;
    border-radius: 6px;
    background: white;
    width: 100%;
    max-width: max-content;
}

.products__main-card-title {
    font-size: 22px;
    color: #2C2A2A;
    font-weight: 700;
}

.products__main-card-descr {
    color: #9B9B9B;
    font-size: 16px;
    max-width: 510px;
}

.products__item {
    padding: 16px;
    border-radius: 6px;
    background: white;
    width: 100%;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__content {
    display: flex;
}

.products__item-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #D47300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__item-title {
    color: #2C2A2A;
    font-weight: 700;
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.products__item-descr {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.products__content {
    gap: 30px;
}

.products__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.products {
    margin-top: -30px;
}

.footer {
    background: #322E41;
    padding: 40px 0;
    margin-top: 30px;
}

.footer__form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__form input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #9B9B9B;
}

.footer__form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #9B9B9B;
    min-height: 86px;
}

.footer__form-btn {
    background: #544294;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer__content-item {
    display: flex;
    align-items: flex-start;
    gap: 74px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__list-link {
    color: white;
    transition: .5s;
}

.footer__list-link:hover {
    color: #D47300;
}

.footer__socials-list {
    display: flex;
    gap: 40px;
}